.navi{
    background-color: white;
    
}

.navi__list {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.navi__item{
    display: inline-block;
    margin-left: 16px;
    font-size: 20px;
}

.navi__item__selected{
    display: inline-block;
    margin-left: 16px;
    font-size: 20px;
    font-weight: bold;
}


.division-line{
    border-top: 1px solid black;
    margin: 10px 0px;
}